.form-input {
  border: 1px solid #eee;
  border-radius: 12px;
  width: 90%;
  height: 35px;
  padding: 0 20px;
  transition: 0.25s ease;
  outline: none;
}
.form-input:focus {
  border-color: #6a5af9;
}
.form-field {
  position: relative;
  margin-top: 10px;
}
.form-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 21px;
  user-select: none;
  color: #999;
  pointer-events: none;
  transition: 0.25s ease;
}
.form-input:not(:placeholder-shown) + .form-label,
.form-input:focus + .form-label {
  top: 0;
  left: 11px;
  padding: 0 10px;
  display: inline-block;
  background-color: white;
  color: #6a5af9;
}

.box1 {
  max-width: 355px;
  padding: 10px 20px;
  border: 1px solid #49aff2;
  border-radius: 12px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.13);
}
.dangki {
  text-align: center;
  margin: 30px auto;
}
.btn {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  background-color: #222;
  padding: 14px 35px;
  margin: 10px auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.btn span {
  position: relative;
  z-index: 1;
}

.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #6a5af9;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}
