<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>King Fragrance</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   
    <link rel="stylesheet" type="text/css" th:href="@{css/tool.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{css/main.min.css}" />
    
</head>
<body class="index">
    <div th:insert="header-page :: header-page"></div>
    
<main id="main">
<div class="section-about">
    <div class="bs-container">
        <div class="module-about">
            <div class="module">
                <h1 class="module-header">
                    OUR TEAM
                </h1>
                <div class="module-content">
                    <div class="bs-row text-center">
                        <div class="bs-col tn-33">
                            <div class="module-member">
                                <div class="member-image">
                                    <img src="/images/member1.jfif" alt="">
                                </div>
                                <div class="content-member">
                                    <div class="name ">Đỗ Văn Hùng</div>
                                    <div class="role">Admin</div>
                                    <div class="location">Full Stack Developer</div>
                                </div>
                            </div>
                        </div>
                        <div class="bs-col tn-33">
                            <div class="module-member">
                                <div class="member-image">
                                    <img src="/images/member3.jfif" alt="">
                                </div>
                                <div class="content-member">
                                    <div class="name ">Trần việt hoàng</div>
                                    <div class="role">Admin</div>
                                    <div class="location">Full Stack Developer</div>
                                </div>
                            </div>
                        </div>
                        <div class="bs-col tn-33">
                            <div class="module-member">
                                <div class="member-image">
                                    <img src="/images/member2.jfif" alt="">
                                </div>
                                <div class="content-member">
                                    <div class="name ">bùi hải thái an</div>
                                    <div class="role">Admin</div>
                                    <div class="location">Full Stack Developer</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-contact">
    <div class="bs-container">
        <div class="module-contact">
            <div class="module">
                <h1 class="module-header">King Fragrance</h1>
                <div class="module-content">
                    <p><i class="fas fa-map-marker-alt"></i>Số 78C, ngõ 87 Láng Hạ, Hà Nội | 525/44 Tô Hiến Thành,
                        P14, Q10, TP. Hồ Chí Minh</p>
                    <p><i class="fas fa-mobile-alt"></i>090 721 9889
                        <i class="far fa-envelope"></i>xxiv.fragrance@gmail.com
                    </p>
                    <p>Giờ mở cửa: Các ngày trong tuần từ 9:00 – 21:00</p>
                </div>
            </div>
        </div>
    </div>
</div>
</main>

        
 <div th:insert="footer-page :: footer-page"></div>
    
	<script  th:src="@{/js/tool.min.js}"></script>
<script th:src="@{/js/main.js}" ></script>
        

</body>
</html>