<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>ByteNext</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="images/icon/fav_icon.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="css/tool.min.css" />
    <link rel="stylesheet" type="text/css" href="css/main.min.css" />
    
</head>
<body class="index">
    <div th:insert="header-page :: header-page"></div>
    
<main id="main">

</main>

        
 <div th:insert="footer-page :: footer-page"></div>
    
	<script  th:src="@{/js/tool.min.js}"></script>
<script th:src="@{/js/main.min.js}" ></script>
        

</body>
</html>