<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>King Fragrance</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   
   <link rel="stylesheet" type="text/css"  th:href="@{/css/tool.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.min.css}"  />
    
</head>
<body class="index">
 <div th:insert="header-page :: header-page"></div>
 
<main id="main">
    <div class="banner-blog">
        <img src="images/banner-blog.jpg"   alt="" width="100%">
        <h2>
            blog
        </h2>
    </div>
    <div class="section-blog">
        <h1 class="text-center module-header">ALL BLOG</h1>
        <div class="bs-container">
            <div class="module-blog">
                <div class="bs-row">
                    <div class="bs-col tn-33-15 " th:each="x : ${lstBlog}"data-aos="fade-up">
                        <div class="item-blog">
                        <img th:src="${x.image}" alt="" width="100%">
                        <h1 class="title-blog" th:text="${x.title}"></h1>
                        <p class="content-blog" th:text="${x.content}"></p>
                        </div>
                    </div>
           
                </div>
            </div>
        </div>
    </div>
</main>

    <div th:insert="footer-page :: footer-page"></div>
    
    
	<script  th:src="@{/js/tool.min.js}"></script>
<script th:src="@{/js/main.js}" ></script>

</body>
</html>