<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<title>ByteNext</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="icon" href="images/icon/fav_icon.png" type="image/png">
<link rel="stylesheet" type="text/css" href="css/tool.min.css" />
<link rel="stylesheet" type="text/css" href="css/main.min.css" />

</head>
<body class="index">

	<div th:insert="header-page :: header-page"></div>
	<main id="main">
	<div class="section-brand">
		<div class="bs-container">
			<div class="module-brand pb-5">
				<h1 class="module-header text-center">Thương hiệu</h1>
				<div class="module-content pb-5">
					<ul id="brands-filter" class="letter-filter bs-row">
						<li><a data-letter="all" class="all active" id="all-brands">ALL
								BRANDS</a></li>
						<li class="letter"><a data-letter="A" href="#" class="">A</a></li>
						<li class="letter"><a data-letter="B" href="#">B</a></li>
						<li class="letter"><a data-letter="C" href="#">C</a></li>
						<li class="letter"><a data-letter="D" href="#">D</a></li>
						<li class="letter"><a data-letter="E" href="#">E</a></li>
						<li class="letter"><a data-letter="F" href="#">F</a></li>
						<li class="letter"><a data-letter="G" href="#">G</a></li>
						<li class="letter"><a data-letter="H" href="#">H</a></li>
						<li class="letter"><a data-letter="I" href="#">I</a></li>
						<li class="letter"><a data-letter="J" href="#">J</a></li>
						<li class="letter"><a data-letter="K" href="#">K</a></li>
						<li class="letter"><a data-letter="L" href="#">L</a></li>
						<li class="letter"><a data-letter="M" href="#">M</a></li>
						<li class="letter"><a data-letter="N" href="#">N</a></li>
						<li class="letter"><a data-letter="O" href="#">O</a></li>
						<li class="letter"><a data-letter="P" href="#">P</a></li>
						<li class="letter"><a data-letter="R" href="#">R</a></li>
						<li class="letter"><a data-letter="S" href="#">S</a></li>
						<li class="letter"><a data-letter="T" href="#">T</a></li>
						<li class="letter"><a data-letter="U" href="#">U</a></li>
						<li class="letter"><a data-letter="V" href="#">V</a></li>
						<li class="letter"><a data-letter="Z" href="#">Z</a></li>
					</ul>
					<div class="bs-row">
						<div class="bs-col tn-25-15">
							<div class="module">
								<h3 class="title">A</h3>
								<ul>

									<li th:each="x : ${listBrand}"><a href=""
										th:if="${x.name.startsWith('A')}   " th:text="${x.name}">
									</a></li>


								</ul>
							</div>
						</div>
						<div class="bs-col tn-25-15">
							<div class="module">
								<h3 class="title">B</h3>
								<ul>

									<li th:each="x : ${listBrand}"><a href=""
										th:if="${x.name.startsWith('B')}   " th:text="${x.name}">
									</a></li>

								</ul>
							</div>
						</div>
						<div class="bs-col tn-25-15">
							<div class="module">
								<h3 class="title">C</h3>
								<ul>

									<li th:each="x : ${listBrand}"><a href=""
										th:if="${x.name.startsWith('C')}   " th:text="${x.name}">
									</a></li>

								</ul>
							</div>
						</div>
						<div class="bs-col tn-25-15">
							<div class="module">
								<h3 class="title">D</h3>
								<ul>

									<li th:each="x : ${listBrand}"><a href=""
										th:if="${x.name.startsWith('D')}   " th:text="${x.name}">
									</a></li>
								</ul>
							</div>
						</div>
						<div class="bs-col tn-25-15">
							<div class="module">
								<h3 class="title">E</h3>
								<ul>

									<li th:each="x : ${listBrand}"><a href=""
										th:if="${x.name.startsWith('E')}   " th:text="${x.name}">
									</a></li>

								</ul>
							</div>
						</div>
						<div class="bs-col tn-25-15">
							<div class="module">
								<h3 class="title">F</h3>
								<ul>

									<li th:each="x : ${listBrand}"><a href=""
										th:if="${x.name.startsWith('F')}   " th:text="${x.name}">
									</a></li>

								</ul>
							</div>
						</div>
						<div class="bs-col tn-25-15">
							<div class="module">
								<h3 class="title">G</h3>
								<ul>

									<li th:each="x : ${listBrand}"><a href=""
										th:if="${x.name.startsWith('G')}   " th:text="${x.name}">
									</a></li>

								</ul>
							</div>
						</div>
						<div class="bs-col tn-25-15">
							<div class="module">
								<h3 class="title">H</h3>
								<ul>

									<li th:each="x : ${listBrand}"><a href=""
										th:if="${x.name.startsWith('H')}   " th:text="${x.name}">
									</a></li>

								</ul>
							</div>
						</div>
						<div class="bs-col tn-25-15">
							<div class="module">
								<h3 class="title">I</h3>
								<ul>

									<li th:each="x : ${listBrand}"><a href=""
										th:if="${x.name.startsWith('I')}   " th:text="${x.name}">
									</a></li>

								</ul>
							</div>
						</div>
						<div class="bs-col tn-25-15">
							<div class="module">
								<h3 class="title">J</h3>
								<ul>

									<li th:each="x : ${listBrand}"><a href=""
										th:if="${x.name.startsWith('J')}   " th:text="${x.name}">
									</a></li>

								</ul>
							</div>
						</div>
						<div class="bs-col tn-25-15">
							<div class="module">
								<h3 class="title">K</h3>
								<ul>

									<li th:each="x : ${listBrand}"><a href=""
										th:if="${x.name.startsWith('K')}   " th:text="${x.name}">
									</a></li>

								</ul>
							</div>
						</div>
						<div class="bs-col tn-25-15">
							<div class="module">
								<h3 class="title">L</h3>
								<ul>

									<li th:each="x : ${listBrand}"><a href=""
										th:if="${x.name.startsWith('L')}   " th:text="${x.name}">
									</a></li>

								</ul>
							</div>
						</div>
						<div class="bs-col tn-25-15">
							<div class="module">
								<h3 class="title">M</h3>
								<ul>

									<li th:each="x : ${listBrand}"><a href=""
										th:if="${x.name.startsWith('M')}   " th:text="${x.name}">
									</a></li>

								</ul>
							</div>
						</div>
						<div class="bs-col tn-25-15">
							<div class="module">
								<h3 class="title">N</h3>
								<ul>

									<li th:each="x : ${listBrand}"><a href=""
										th:if="${x.name.startsWith('N')}   " th:text="${x.name}">
									</a></li>

								</ul>
							</div>
						</div>
						<div class="bs-col tn-25-15">
							<div class="module">
								<h3 class="title">O</h3>
								<ul>

									<li th:each="x : ${listBrand}"><a href=""
										th:if="${x.name.startsWith('O')}   " th:text="${x.name}">
									</a></li>

								</ul>
							</div>
						</div>
						<div class="bs-col tn-25-15">
							<div class="module">
								<h3 class="title">P</h3>
								<ul>

									<li th:each="x : ${listBrand}"><a href=""
										th:if="${x.name.startsWith('P')}   " th:text="${x.name}">
									</a></li>

								</ul>
							</div>
						</div>
						<div class="bs-col tn-25-15">
							<div class="module">
								<h3 class="title">R</h3>
								<ul>

									<li th:each="x : ${listBrand}"><a href=""
										th:if="${x.name.startsWith('R')}   " th:text="${x.name}">
									</a></li>

								</ul>
							</div>
						</div>
						<div class="bs-col tn-25-15">
							<div class="module">
								<h3 class="title">S</h3>
								<ul>

									<li th:each="x : ${listBrand}"><a href=""
										th:if="${x.name.startsWith('S')}   " th:text="${x.name}">
									</a></li>

								</ul>
							</div>
						</div>
						<div class="bs-col tn-25-15">
							<div class="module">
								<h3 class="title">T</h3>
								<ul>

									<li th:each="x : ${listBrand}"><a href=""
										th:if="${x.name.startsWith('T')}   " th:text="${x.name}">
									</a></li>

								</ul>
							</div>
						</div>
						<div class="bs-col tn-25-15">
							<div class="module">
								<h3 class="title">U</h3>
								<ul>

									<li th:each="x : ${listBrand}"><a href=""
										th:if="${x.name.startsWith('U')}   " th:text="${x.name}">
									</a></li>

								</ul>
							</div>
						</div>
						<div class="bs-col tn-25-15">
							<div class="module">
								<h3 class="title">V</h3>
								<ul>

									<li th:each="x : ${listBrand}"><a href=""
										th:if="${x.name.startsWith('V')}   " th:text="${x.name}">
									</a></li>

								</ul>
							</div>
						</div>
						<div class="bs-col tn-25-15">
							<div class="module">
								<h3 class="title">Z</h3>
								<ul>

									<li th:each="x : ${listBrand}"><a href=""
										th:if="${x.name.startsWith('Z')}   " th:text="${x.name}">
									</a></li>

								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</main>

	<div th:insert="footer-page :: footer-page"></div>



	<script src="js/tool.min.js"></script>
	<script src="js/main.min.js"></script>


</body>
</html>