<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
</head>
<body>
<div th:fragment="footer">
<footer id="footer">
		<div class="bs-container">
			<div class="bs-row">
				<div class="bs-col">
					<div class="footer-content">
						<div class="footer-top">
							<div class="bs-row row-xs-15">
								<div class="bs-col sm-40-15 xs-100-15">
									<div class="footer-info">
										<a href="#" class="link"><img src="images/logo.png" alt=""></a>
										<p class="desc"></p>
										<div class="footer-social">
											<a href="#" class="social__link facebook"><i
												class="fab fa-facebook-f"></i></a> <a href="#"
												class="social__link twitter"><i class="fab fa-twitter"></i></a>
											<a href="#" class="social__link google-plus"><i
												class="fab fa-google-plus-g"></i></a> <a href="#"
												class="social__link youtube-play"><i
												class="fab fa-youtube"></i></a>
										</div>
									</div>
								</div>
								<div class="bs-col sm-25-15 xs-45-15">
									<div class="footer-link">
										<div class="head">
											<p class="title">chính sách bán hàng</p>
										</div>
										<div class="content">
											<ul class="footer-list">
												<li class="footer-list__item"
													onclick="scrollFn('.section-banner')"><a
													class="footer-list__link">phương thức vận chuyển</a></li>
												<li class="footer-list__item"
													onclick="scrollFn('.section-culture')"><a
													class="footer-list__link">câu hỏi thường gặp</a></li>
												<li class="footer-list__item"
													onclick="scrollFn('.section-leadership')"><a
													class="footer-list__link">điều khoản và điện kiện sử
														dụng</a></li>
												<li class="footer-list__item"
													onclick="scrollFn('.section-investors')"><a
													class="footer-list__link">điều khoản và điều kiện bán
														hàng</a></li>
												<li class="footer-list__item"
													onclick="scrollFn('.section-products')"><a
													class="footer-list__link">thông báo pháp lý</a></li>
											</ul>
										</div>
									</div>
								</div>
								<div class="bs-col sm-35-15 xs-55-15">
									<div class="footer-contact" data-aos-delay="800">
										<div class="head">
											<p class="title">thông tin chung</p>
										</div>
										<div class="content">
											<!--                                           <p class="desc"><span>Phone:</span></p>-->
											<p class="desc">
												<a href="">Giới thiệu</a>
											</p>
											<p class="desc">
												<a href="">Blog</a>
											</p>
											<p class="desc">
												<a href="">liên hệ</a>
											</p>
											<p class="desc">
												<a href="">sản phẩm</a>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="footer-bottom">
							<p class="desc">© Group 7. All Rights Reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>

</div>
</body>
</html>