<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
</head>
<body>
<div th:fragment="header">
<header id="header">
    <div class="header-nav">
        <div class="bs-container">
            <div class="nav-content clearfix">
                <div class="logo" data-aos="fade-down">
                    <a href="index.html"><img src="images/logo.png" alt=""></a>
                    <span class="line"></span>
                </div>

                <div class="nav">
                    <span class="show__menu"><i class="fas fa-bars"></i></span>
                    <div class="menu">
                        <span class="close__menu"><i class="far fa-window-close"></i></span>
                        <ul class="menu-list clearfix" data-aos="fade-left" data-aos-delay="300">
                            <li class="menu-list__item">
                                <a th:href="@{/trang-chu}" class="menu-list__link active">Trang chủ</a>
                            </li>
                            <li class="menu-list__item">
                                <a href="about.html" class="menu-list__link">Giới thiệu</a>
                            </li>
                            <li class="menu-list__item">
                                <a th:href="@{/thuong-hieu}"  class="menu-list__link">Thương hiệu</a>
                            </li>
                            <li class="menu-list__item">
                                <a class="menu-list__link" th:href="@{/product}">Sản phẩm</a>
                                <ul class="dropdown-list">
                                    <li class="dropdown-list__item">
                                        <a href="" class="dropdown-list__link">nước hoa nam</a>
                                    </li>
                                    <li class="dropdown-list__item">
                                        <a href="press_releases.html" class="dropdown-list__link">nước hoa nữ</a>
                                    </li>
                                    <li class="dropdown-list__item">
                                        <a href="press_releases.html" class="dropdown-list__link">nước hoa unisex</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-list__item">
                                <a href="blog.html" class="menu-list__link">Blog</a>
                            </li>
                            <li class="menu-list__item ml iconafter">
                                <input type="text" name="" id="" placeholder="Tìm kiếm...">
                                <a href="logined.html" class="menu-list__link link-navright link-search"> <i class="fas fa-search"></i></a>
                            </li>
                            <li class="menu-list__item iconafter">
                                <a th:href="@{/tai-khoan}" class="menu-list__link link-navright"> <i class="far fa-user"></i></a>
                            </li>
                            <li class="menu-list__item iconafter">
                                <a th:href="@{/gio-hang}" class="menu-list__link link-navright"> <i class="fas fa-cart-arrow-down"></i></a>
                            </li>
                            
                        </ul>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</header>
</div>
</body>
</html>