<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
</head>
<body>
<div th:fragment="header">
<header id="header">
    <div class="header-nav">
        <div class="bs-container" style="width: 1200px !important;">
            <div class="nav-content clearfix">
                <div class="logo" data-aos="fade-down">
                    <a th:href="@{/}"><img th:src="@{/images/logo.png}" alt=""></a>
                    <span class="line"></span>
                </div>

                <div class="nav">
                    <span class="show__menu"><i class="fas fa-bars"></i></span>
                    <div class="menu">
                        <span class="close__menu"><i class="far fa-window-close"></i></span>
                        <ul class="menu-list clearfix" data-aos="fade-left" data-aos-delay="300">
                            <li class="menu-list__item">
                                <a th:href="@{/}" class="menu-list__link active">Trang chủ</a>
                            </li>
                            <li class="menu-list__item">
                                <a th:href="@{/about}" class="menu-list__link">Giới thiệu</a>
                            </li>
                            <li class="menu-list__item">
                                <a th:href="@{/thuong-hieu}"  class="menu-list__link">Thương hiệu</a>
                            </li>
                            <li class="menu-list__item">
                                <a class="menu-list__link" th:href="@{/product/page/1}">Sản phẩm</a>
                                
                            </li>
                            <li class="menu-list__item">
                                <a th:href="@{/blog}" class="menu-list__link">Blog</a>
                            </li>
                           
                            <li class="menu-list__item iconafter " style="    margin-left: 194px;">
                            <a th:href="@{/tai-khoan}" class="menu-list__link link-navright"> <i class="far fa-user"></i></a>
                            </li>
                            <li class="menu-list__item iconafter" id="logo_cart">
                            <span id="number_cart"></span>
                                <a th:href="@{/gio-hang}" class="menu-list__link link-navright" id="cart"> <i class="fas fa-cart-arrow-down"></i></a>
                            </li>
                            
                        </ul>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</header>
</div>
</body>
</html>