<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
	>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<title>King Fragrance</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

  <link rel="stylesheet" type="text/css"  th:href="@{/css/tool.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.min.css}"  />

</head>
<body class="index">

	<div th:insert="header :: header"></div>
	<main id="main">
	<section class="section-banner" data-aos="zoom-out">
		<div class="banner-slide">
			<div class="slide-item"
				style="background-image: url(images/banner-1.png); background-size: cover;">
				<div class="bs-container">
					<div class="bs-row">
						<div class="bs-col">
							<div class="module module-banner">
								<span class="line"></span>
								<div class="module-header">
									<img src="images/banner_arrow.png" alt="">
									<p class="title">đến đây nếu bạn muốn</p>
								</div>
								<div class="module-content">
									<p class="desc">trở nên hấp dẫn</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="slide-item"
				style="background-image: url(images/banner-2.png); background-size: cover;">
				<div class="bs-container">
					<div class="bs-row">
						<div class="bs-col">
							<div class="module module-banner">
								<span class="line"></span>
								<div class="module-header">
									<img src="images/banner_arrow.png" alt="">
									<p class="title">đến đây nếu bạn muốn</p>
								</div>
								<div class="module-content">
									<p class="desc">trở nên tuyệt vời trong mắt mọi người</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="slide-item"
				style="background-image: url(images/banner-3.png); background-size: cover;">
				<div class="bs-container">
					<div class="bs-row">
						<div class="bs-col">
							<div class="module module-banner">
								<span class="line"></span>
								<div class="module-header">
									<img src="images/banner_arrow.png" alt="">
									<p class="title">đến đây nếu bạn muốn</p>
								</div>
								<div class="module-content">
									<p class="desc">tận hưởng hương thơm 24/24</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>
	<div class="section-brand-special">
		<div class="module-brand-special">
			<div class="bs-container">
				<div class="module">
					<h1 class="module-header text-center">thương hiệu nổi tiếng</h1>
					<div class="module-content">
						<div class="brand-class">
							<div>
								<a href=""><img src="images/brand1.png" alt=""></a>
							</div>
							<div>
								<a href=""><img src="images/brand2.png" alt=""></a>
							</div>
							<div>
								<a href=""><img src="images/brand5.png" alt=""></a>
							</div>
							<div>
								<a href=""><img src="images/brand4.png" alt=""></a>
							</div>
							<div>
								<a href=""><img src="images/brand5.png" alt=""></a>
							</div>
						<div>
								<a href=""><img src="images/brand2.png" alt=""></a>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-product-special">
		<div class="module-product-special">
			<div class="bs-container">
				<div class="module">
					<h1 class="module-header text-center">sản phẩm nổi bật</h1>
					<div class="module-content">
						<br>
						<div class="tab-content">
							<div  class="container mt-4">
								<br>
								<h1 class="module-header"
									style="font-size: 20px; padding: 20px 0px;">Nước Hoa Nam</h1>

								<div class="bs-row product-class">

									<div class="bs-col tn-33-15" th:each="x : ${listProductResult}"  th:if="${listProductResult.size()>0 && x.product.hot && x.product.gender eq 'nam'}" >
										<div class="card" >
											<a th:href="@{'/product-detailts/' + ${x.product.slug}}"> <img class="card-img-top"
												th:src="${x.product.image}"></a>
											<div class="card-body">
												<h4 class="card-title" th:text="${x.product.brand}"></h4>
												<p class="card-colorCategory" th:text="${x.product.slug}"></p>
												<p><span class="card-text" th:if="${x.productDetails.size()>0 }"   th:text="${x.productDetails.get(0).cost}" ></span>
												<span>đ</span>
												</p>
												<p class="add-cart" onclick="pushLocalStorage(this)"><i class="fas fa-plus mr-2"></i>Thêm vào giỏ</p>
												<p class="buyNow" onclick="buyNow(this)">Mua ngay</p>
											</div> 
										</div>
									</div>
								
								</div>
							</div>
							<div  class="container mt-4">
								<br>
								<h1 class="module-header"
									style="font-size: 20px; padding: 20px 0px;">Nước Hoa Nữ</h1>

									<div class="bs-row product-class">

										<div class="bs-col tn-33-15" th:each="x : ${listProductResult}" th:if="${listProductResult.size()>0 && x.product.hot && x.product.gender eq 'nữ'}" >
											<div class="card" >
												<a th:href="@{'/product-detailts/' + ${x.product.slug}}"> <img class="card-img-top"
													th:src="${x.product.image}"></a>
												<div class="card-body">
													<h4 class="card-title" th:text="${x.product.brand}"></h4>
													<p class="card-colorCategory" th:text="${x.product.slug}"></p>
													<p><span class="card-text" th:if="${x.productDetails.size()>0 }"   th:text="${x.productDetails.get(0).cost}" ></span>
													<span>đ</span>
													</p>
													<p class="add-cart" onclick="pushLocalStorage(this)"><i class="fas fa-plus mr-2"></i>Thêm vào giỏ</p>
													<p class="buyNow" onclick="buyNow(this)">Mua ngay</p>
												</div>
											</div>
										</div>
									
									</div>
							</div>
							<div class="container mt-4">
								<br>
								<h1 class="module-header"
									style="font-size: 20px; padding: 20px 0px;">Nước Hoa
									Unisex</h1>

									<div class="bs-row product-class">

										<div class="bs-col tn-33-15" th:each="x : ${listProductResult}" th:if="${listProductResult.size()>0 && x.product.hot && x.product.gender eq 'unisex'}" >
											<div class="card" >
												<a th:href="@{'/product-detailts/' + ${x.product.slug}}"> <img class="card-img-top"
													th:src="${x.product.image}"></a>
												<div class="card-body">
													<h4 class="card-title" th:text="${x.product.brand}"></h4>
													<p class="card-colorCategory" th:text="${x.product.slug}"></p>
													<p><span class="card-text" th:if="${x.productDetails.size()>0 }"   th:text="${x.productDetails.get(0).cost}" ></span>
													<span>đ</span>
													</p>
													<p class="add-cart" onclick="pushLocalStorage(this)"><i class="fas fa-plus mr-2"></i>Thêm vào giỏ</p>
													<p class="buyNow" onclick="buyNow(this)">Mua ngay</p>
												</div>
											</div>
										</div>
									
									</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-contact">
		<div class="bs-container">
			<div class="module-contact">
				<div class="module">
					<h1 class="module-header">King Fragrance</h1>
					<div class="module-content">
						<p>
							<i class="fas fa-map-marker-alt"></i>Số 78C, ngõ 87 Láng Hạ, Hà
							Nội | 525/44 Tô Hiến Thành, P14, Q10, TP. Hồ Chí Minh
						</p>
						<p>
							<i class="fas fa-mobile-alt"></i>090 721 9889 <i
								class="far fa-envelope"></i>xxiv.fragrance@gmail.com
						</p>
						<p>Giờ mở cửa: Các ngày trong tuần từ 9:00 – 21:00</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="uk-section-default">
		<div data-src="/wp-content/themes/yootheme/cache/cover-39ba38b7.webp"
			data-srcset="/wp-content/themes/yootheme/cache/cover-3b9a4d7c.webp 768w, /wp-content/themes/yootheme/cache/cover-97fa4dca.webp 1024w, /wp-content/themes/yootheme/cache/cover-d44b7c3f.webp 1366w, /wp-content/themes/yootheme/cache/cover-5f306bfb.webp 1600w, /wp-content/themes/yootheme/cache/cover-16dcb193.webp 1920w, /wp-content/themes/yootheme/cache/cover-39ba38b7.webp 2000w"
			data-sizes="(max-aspect-ratio: 2000/1153) 173vh" uk-img=""
			class="uk-background-norepeat uk-background-cover uk-background-center-center uk-background-fixed uk-section uk-padding-remove-top uk-padding-remove-bottom uk-flex uk-flex-middle"
			uk-height-viewport="offset-top: true; offset-bottom: 20;"
			style="min-height: calc(80vh); background-image: url(&quot;https://xxivstore.com/wp-content/themes/yootheme/cache/cover-16dcb193.webp&quot;);">



			<div class="uk-width-1-1">



				<div
					class="tm-grid-expand uk-child-width-1-1 uk-grid-margin uk-grid uk-grid-stack"
					uk-grid="">
					<div class="uk-first-column"></div>
				</div>

			</div>
		</div>

	</div>
	<div class="action-toast">
			<div class="toast">
				<div class="toast__container">
					<div class="toast__icon">
						<i class="fas fa-check"></i>
					</div>
					<div class="toast__text">Sản phẩm đã được thêm vào Giỏ hàng</div>
				</div>
			</div>
		</div>
	</main>
<div th:insert="footer :: footer"></div>
	



<script  th:src="@{/js/tool.min.js}"></script>
<script th:src="@{/js/main.js}" ></script>
<script th:src="@{/js/index.js}" ></script>
	<script>
		$(document).ready(function() {
			$(".nav-tabs a").click(function() {
				$(this).tab('show');
			});

			$('.brand-class').slick({
				slidesToShow : 5,
				slidesToScroll : 5,
				autoplay : false,
				autoplaySpeed : 2000,
				dots : true,
				swipeToSlide : true,

			});
			$('.product-class').slick({
				slidesToShow : 4,
				slidesToScroll : 4,
				dots : true,
				swipeToSlide : true,

			});

		});

		$(".banner-slide").slick({
			slidesToShow : 1,
			slidesToScroll : 1,
			arrows : false,
			centerMode : false,
			centerPadding : '0',
			dots : true,
			fade : false,
			autoplay : true,
			infinite : true,
			draggable : true,
			swipeToSlide : true,
			touchMove : true,
			swipe : true,
			speed : 1000,
			autoplaySpeed : 5000,
		});
		var card_text= document.querySelectorAll('.card-text'); 
		console.log(card_text.length);

		for (var i = 0; i < card_text.length; i++) {
			card_text[i].innerHTML=parseFloat(card_text[i].innerHTML).toLocaleString("en")
			.replace(/,/g, ".") ;
		}
		
		</script>

</body>
</html>