<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<title>ByteNext</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="icon" href="images/icon/fav_icon.png" type="image/png">
<link rel="stylesheet" type="text/css" th:href="@{/css/tool.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.min.css}" />

</head>

<body class="index">
	<div th:insert="header-page :: header-page"></div>
	<main id="main">
	<div class="section-brand-special">
		<div class="module-brand-special">
			<div class="bs-container">
				<div class="module">
					<h1 class="module-header text-center">Shop</h1>
					<div class="module-content">
						<div class="bs-row">
							<div class="bs-col tn-30-15">
								<div class="uk-width-2-5@s uk-width-1-5@m uk-first-column">


									<div class="sidebar-product uk-visible@s">

										<div class="uk-panel widget-text" id="widget-text-2">

											<h3>Thương hiệu</h3>

											<div class="uk-panel textwidget">
												<div class="filter-by-brand">
													<input type="text" class="uk-input" id="myInput"
														onkeyup="myFunction()" placeholder="Tìm kiếm nhanh"
														title="Type in a name">
													<div class="list-cat">
														<table id="myTable">
															<tbody>
																<tr>
																	<td><a href="" class="">Acqua di Parma</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">Afnan</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">Al Haramain</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">Amouage</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">Armaf</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">Azzaro</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">Bond No.9</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">Burberry</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">Bvlgari</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">By Kilian</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">Calvin Klein</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">Carolina Herrera</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">Chanel</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">Chloé</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">Clive Christian</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">Creed</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">D&amp;G</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">Diesel</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">Dior</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">Diptyque</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">ELDO</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">Escentric Molecules</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">Giorgio Armani</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">Givenchy</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">Gucci</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">Guerlain</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">Hermès</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">Hugo Boss</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">Jean Paul Gaultier</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">Jo Malone</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">KENZO</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">Lancôme</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">Le Labo</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">Maison Francis
																			Kurkdjian</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">Maison Margiela</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">Mancera</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">Marc Jacobs</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">MCM</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">Memo Paris</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">Montblanc</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">Moschino</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">Narciso Rodriguez</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">Nasomatto</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">Nautica</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">Nishane</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">Paco Rabanne</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">Parfums de Marly</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">Prada</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">Rochas</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">Roja Parfum</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">Salvatore Ferragamo</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">Tom Ford</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">Valentino</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">Versace</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">Viktor &amp; Rolf</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">Xerjoff</a></td>
																</tr>
																<tr>
																	<td><a href="" class="">Yves Saint Laurent</a></td>
																</tr>
															</tbody>
														</table>
													</div>


												</div>
												<script>
													function myFunction() {
														var input, filter, table, tr, td, i, txtValue;
														input = document
																.getElementById("myInput");
														filter = input.value
																.toUpperCase();
														table = document
																.getElementById("myTable");
														tr = table
																.getElementsByTagName("tr");
														for (i = 0; i < tr.length; i++) {
															td = tr[i]
																	.getElementsByTagName("td")[0];
															if (td) {
																txtValue = td.textContent
																		|| td.innerText;
																if (txtValue
																		.toUpperCase()
																		.indexOf(
																				filter) > -1) {
																	tr[i].style.display = "";
																} else {
																	tr[i].style.display = "none";
																}
															}
														}
													}
												</script>

											</div>

										</div>

										<div class="uk-panel widget-custom-html"
											id="widget-custom_html-2">


											<div class="widget_text item-filter">
												<div class="widget_text sidebar-box">
													<div class="textwidget custom-html-widget">
														<form class="form-filter-price" action="/shop/page/2/"
															method="GET">

															<div class="filter-sidebar gender-filter">
																<h3>GIỚI TÍNH</h3>
																<div class="item-child">

																	<p>
																		<label> <input
																			class="uk-checkbox checkbox-filter-sidebar gender-checkbox-filter"
																			name="filter_gioi-tinh" type="checkbox" value="nam">Nam
																		</label>
																	</p>

																	<p>
																		<label> <input
																			class="uk-checkbox checkbox-filter-sidebar gender-checkbox-filter"
																			name="filter_gioi-tinh" type="checkbox" value="nu">Nữ
																		</label>
																	</p>

																	<p>
																		<label> <input
																			class="uk-checkbox checkbox-filter-sidebar gender-checkbox-filter"
																			name="filter_gioi-tinh" type="checkbox"
																			value="unisex">Unisex
																		</label>
																	</p>

																</div>

															</div>


															<div class="filter-sidebar season-filter">
																<h3>MÙA</h3>
																<div class="item-child">
																	<p>
																		<label> <input
																			class="uk-checkbox checkbox-filter-sidebar season-checkbox-filter"
																			name="filter_mua" type="checkbox" value="dong">Đông
																		</label>
																	</p>

																	<p>
																		<label> <input
																			class="uk-checkbox checkbox-filter-sidebar season-checkbox-filter"
																			name="filter_mua" type="checkbox" value="ha">Hạ
																		</label>
																	</p>

																	<p>
																		<label> <input
																			class="uk-checkbox checkbox-filter-sidebar season-checkbox-filter"
																			name="filter_mua" type="checkbox" value="thu">Thu
																		</label>
																	</p>

																	<p>
																		<label> <input
																			class="uk-checkbox checkbox-filter-sidebar season-checkbox-filter"
																			name="filter_mua" type="checkbox" value="xuan">Xuân
																		</label>
																	</p>

																</div>
															</div>

															<div class="filter-sidebar">
																<h3>THEO GIÁ</h3>
																<div class="item-child">
																	<p>
																		<label> <input
																			class="uk-checkbox checkbox-filter-sidebar price-checkbox-filter"
																			name="filter_khoang-gia" type="checkbox"
																			value="1500000-3000000">1.500.000 - 3.000.000
																		</label>
																	</p>
																	<p>
																		<label> <input
																			class="uk-checkbox checkbox-filter-sidebar price-checkbox-filter"
																			name="filter_khoang-gia" type="checkbox"
																			value="3000000-5000000">3.000.000 - 5.000.000
																		</label>
																	</p>
																	<p>
																		<label> <input
																			class="uk-checkbox checkbox-filter-sidebar price-checkbox-filter"
																			name="filter_khoang-gia" type="checkbox"
																			value="5000000-100000000">&gt;5.000.000
																		</label>
																	</p>
																</div>
															</div>

														</form>




													</div>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
							<div class="bs-col tn-70-15">
								<div class="uk-width-5-5@s uk-width-4-5@m ">
									<div class="content-product-cat">

										<form class="woocommerce-ordering" method="get">
											<select name="orderby" class="orderby  uk-select"
												aria-label="Đơn hàng của cửa hàng">
												<option value="popularity">Thứ tự theo mức độ phổ
													biến</option>
												<option value="rating">Thứ tự theo điểm đánh giá</option>
												<option value="date" selected="selected">Mới nhất</option>
												<option value="price">Thứ tự theo giá: thấp đến cao</option>
												<option value="price-desc">Thứ tự theo giá: cao
													xuống thấp</option>
											</select> <input type="hidden" name="paged" value="1">
										</form>
										<ul class="products ">
											<div class="bs-row">
												<div class="bs-col tn-25-10"
													th:each="x : ${listProductResult}"
													th:if="${listProductResult.size()>0}">
													<li
														class="woman-attr product type-product post-3855 status-publish first instock product_cat-armaf product_tag-chanel-coco-mademoselle product_tag-club product_tag-club-de-nuit product_tag-coco-chanel has-post-thumbnail shipping-taxable purchasable product-type-variable">
														<a href=""
														class="woocommerce-LoopProduct-link woocommerce-loop-product__link"><img
															width="100%" th:src="${x.product.image}"
															class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
															alt="Armaf Club de Nuit Woman" loading="lazy"
															sizes="(max-width: 300px) 100vw, 300px"> </a>
														<div class="name-product">
															<a href=""
																class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
																<span class="brand" th:text="${x.product.brand}"></span>
															</a><a href=""
																class="product-name woocommerce-loop-product__title"
																th:text="${x.product.name}"></a>
														</div> <span class="price"><span class="highlight"><span
																class="woocommerce-Price-amount amount"><bdi 
																		th:if="${x.productDetails.size()>0 }"
																		th:text="${x.productDetails.get(0).cost}">&nbsp;<span
																		class="woocommerce-Price-currencySymbol"></span></bdi></span></span>đ</span>
													</li>
												</div>

											</div>

										</ul>
										<nav class="woocommerce-pagination">
											</ul>
											<nav class="woocommerce-pagination">
												<ul class="page-numbers">
													<li><a class="page-numbers" href="">Tổng số:
															[[${totalPages}]]</a></li>
													<li><a class="page-numbers" th:if="${currentPage > 1}"
														th:href="@{'/product/page/' + ${currentPage -1}}">previous</a></li>
													<li><span class="d-inline-block pl-2 pr-2"
														th:each="i : ${#numbers.sequence( 1,totalPages)}"><a
															class="page-numbers" th:if="${currentPage != i}"
															th:href="@{'/product/page/' +${i}}">[[${i}]]</a> <span
															class="d-inline-block pl-2 pr-2"
															th:unless="${currentPage != i}">[[${i}]]</span> </span></li>
													<li><a class="page-numbers"
														th:if="${currentPage < totalPages}"
														th:href="@{'/product/page/' + ${currentPage +1}}">Next</a>
														<span th:unless="${currentPage < totalPages}">Next</span>
													</li>
													<li><a class="page-numbers"
														th:if="${currentPage < totalPages}"
														th:href="@{'/product/page/' + ${totalPages}}">Last</a> <span
														th:unless="${currentPage < totalPages}">Last</span></li>
												</ul>
											</nav>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</main>
	<div th:insert="footer-page :: footer-page"></div>



	<script th:src="@{/js/tool.min.js}"></script>
	<script th:src="@{/js/main.min.js}"></script>


</body>

</html>