<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<title>King Fragrance</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

<link rel="stylesheet" type="text/css" th:href="@{/css/tool.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.min.css}" />

</head>

<body class="index">
	<div th:insert="header-page :: header-page"></div>
	<main id="main">
	<div class="section-brand-special">
		<div class="module-brand-special">
			<div class="bs-container">
				<div class="module">
					<h1 class="module-header text-center">Shop</h1>
					<div class="module-content">
						<div class="bs-row">
							<div class="bs-col tn-30-15">
								<div class="uk-width-2-5@s uk-width-1-5@m uk-first-column">


									<div class="sidebar-product uk-visible@s">

										<div class="uk-panel widget-text" id="widget-text-2">

											<h3>Thương hiệu</h3>

											<div class="uk-panel textwidget">
												<div class="filter-by-brand">
													<input type="text" class="uk-input" id="myInput"
														onkeyup="myFunction()" placeholder="Tìm kiếm nhanh"
														title="Type in a name">
													<div class="list-cat">
														<table >
															<tbody id="myTable">
																 
															
															</tbody>
														</table>
													</div>


												</div>
												

											</div>

										</div>

										<div class="uk-panel widget-custom-html"
											id="widget-custom_html-2">


											<div class="widget_text item-filter">
												<div class="widget_text sidebar-box">
													<div class="textwidget custom-html-widget">


														<div class="filter-sidebar gender-filter">
															<h3>GIỚI TÍNH</h3>
															<div class="item-child">

																<p>
																	<label> <input
																		class="uk-checkbox checkbox-filter-sidebar gender-checkbox-filter"
																		name="filter_gioi-tinh" type="checkbox" value="nam">Nam
																	</label>
																</p>

																<p>
																	<label> <input
																		class="uk-checkbox checkbox-filter-sidebar gender-checkbox-filter"
																		name="filter_gioi-tinh" type="checkbox" value="nu">Nữ
																	</label>
																</p>

																<p>
																	<label> <input
																		class="uk-checkbox checkbox-filter-sidebar gender-checkbox-filter"
																		name="filter_gioi-tinh" type="checkbox" value="unisex">Unisex
																	</label>
																</p>

															</div>

														</div>


														<div class="filter-sidebar season-filter">
															<h3>MÙA</h3>
															<div class="item-child">
																<p>
																	<label> <input
																		class="uk-checkbox checkbox-filter-sidebar season-checkbox-filter"
																		name="filter_mua" type="checkbox" value="dong">Đông
																	</label>
																</p>

																<p>
																	<label> <input
																		class="uk-checkbox checkbox-filter-sidebar season-checkbox-filter"
																		name="filter_mua" type="checkbox" value="ha">Hạ
																	</label>
																</p>

																<p>
																	<label> <input
																		class="uk-checkbox checkbox-filter-sidebar season-checkbox-filter"
																		name="filter_mua" type="checkbox" value="thu">Thu
																	</label>
																</p>

																<p>
																	<label> <input
																		class="uk-checkbox checkbox-filter-sidebar season-checkbox-filter"
																		name="filter_mua" type="checkbox" value="xuan">Xuân
																	</label>
																</p>

															</div>
														</div>

														<div class="filter-sidebar">
															<h3>THEO GIÁ</h3>
															<div class="item-child">
																<p>
																	<label> <input
																		class="uk-checkbox checkbox-filter-sidebar price-checkbox-filter"
																		name="filter_khoang-gia" type="checkbox"
																		value="1500000-3000000">1.500.000 - 3.000.000
																	</label>
																</p>
																<p>
																	<label> <input
																		class="uk-checkbox checkbox-filter-sidebar price-checkbox-filter"
																		name="filter_khoang-gia" type="checkbox"
																		value="3000000-5000000">3.000.000 - 5.000.000
																	</label>
																</p>
																<p>
																	<label> <input
																		class="uk-checkbox checkbox-filter-sidebar price-checkbox-filter"
																		name="filter_khoang-gia" type="checkbox"
																		value="5000000-100000000">&gt;5.000.000
																	</label>
																</p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
							<div class="bs-col tn-70-15">
								<div class="uk-width-5-5@s uk-width-4-5@m ">
									<div class="content-product-cat">

										<form class="woocommerce-ordering" method="get">
											<select name="orderby" class="orderby  uk-select"
												aria-label="Đơn hàng của cửa hàng" onchange="sortBy()"
												id="sort">

												<option value="date" selected="selected">Sắp xếp
													theo</option>
												<option value="price">Thứ tự theo giá: thấp đến cao</option>
												<option value="price-desc">Thứ tự theo giá: cao
													xuống thấp</option>
											</select> <input type="hidden" name="paged" value="1">
										</form>
										<ul class="products " id="productssss">

										</ul>
										<nav class="woocommerce-pagination">
											</ul>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	</main>
	<div th:insert="footer-page :: footer-page"></div>

	<!-- Tạo lớp overlay loading -->
	<div class="lazy-loading hide">
		<div class="lazy-text">Loading...</div>
		<div class="line-loading"></div>
	</div>
	<script th:src="@{/js/tool.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	<script th:src="@{/js/base.js}"></script>
	<script th:src="@{/js/product.js}"></script>




</body>

</html>