<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<title>King Fragrance</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

<link rel="stylesheet" type="text/css" th:href="@{/css/tool.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.min.css}" />

</head>

<body class="index">
	<div th:insert="header-page :: header-page"></div>
	<main id="main">
	<div class="section-brand-special">
		<div class="module-brand-special">
			<div class="bs-container">
				<div class="module">
					<h1 class="module-header text-center" th:text="${titleBrand}"></h1>
					<div class="module-content">
						<div class="bs-row">
							<div class="bs-col tn-30-15">
								<div class="uk-width-2-5@s uk-width-1-5@m uk-first-column">


									<div class="sidebar-product uk-visible@s">

										<div class="uk-panel widget-text" id="widget-text-2">

											<h3>Thương hiệu</h3>

											<div class="uk-panel textwidget">
												<div class="filter-by-brand">
													<input type="text" class="uk-input" id="myInput"
														onkeyup="myFunction()" placeholder="Tìm kiếm nhanh"
														title="Type in a name">
													<div class="list-cat">
														<table>
															<tbody id="myTable">
																<tr th:each=" listBrand: ${listBrand}">
																	<td><a
																		th:href="'/product/thuonghieu/' + ${listBrand.name}"
																		class="" th:text="${listBrand.name}"></a></td>
																</tr>

															</tbody>
														</table>
													</div>


												</div>


											</div>

										</div>

										<div class="uk-panel widget-custom-html"
											id="widget-custom_html-2">


											<div class="widget_text item-filter">
												<div class="widget_text sidebar-box">
													<div class="textwidget custom-html-widget">


														<div class="filter-sidebar gender-filter">
															<h3>GIỚI TÍNH</h3>
															<div class="item-child">

																<p>
																	<label> <input
																		class="uk-checkbox checkbox-filter-sidebar gender-checkbox-filter"
																		name="filter_gioi-tinh" type="checkbox" value="nam">Nam
																	</label>
																</p>

																<p>
																	<label> <input
																		class="uk-checkbox checkbox-filter-sidebar gender-checkbox-filter"
																		name="filter_gioi-tinh" type="checkbox" value="nu">Nữ
																	</label>
																</p>

																<p>
																	<label> <input
																		class="uk-checkbox checkbox-filter-sidebar gender-checkbox-filter"
																		name="filter_gioi-tinh" type="checkbox" value="unisex">Unisex
																	</label>
																</p>

															</div>

														</div>


														<div class="filter-sidebar">
															<h3>THEO GIÁ</h3>
															<div class="item-child">
																<p>
																	<label> <input
																		class="uk-checkbox checkbox-filter-sidebar price-checkbox-filter"
																		name="filter_khoang-gia" type="checkbox"
																		value="1500000-3000000">1.500.000 - 3.000.000
																	</label>
																</p>
																<p>
																	<label> <input
																		class="uk-checkbox checkbox-filter-sidebar price-checkbox-filter"
																		name="filter_khoang-gia" type="checkbox"
																		value="3000000-5000000">3.000.000 - 5.000.000
																	</label>
																</p>
																<p>
																	<label> <input
																		class="uk-checkbox checkbox-filter-sidebar price-checkbox-filter"
																		name="filter_khoang-gia" type="checkbox"
																		value="5000000-100000000">&gt;5.000.000
																	</label>
																</p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="bs-col tn-70-15">
								<div class="uk-width-5-5@s uk-width-4-5@m ">
									<div class="content-product-cat">

										<form class="woocommerce-ordering" method="get">
											<select name="orderby" class="orderby  uk-select"
												aria-label="Đơn hàng của cửa hàng" onchange="sortBy()"
												id="sort">

												<option value="date" selected="selected">Sắp xếp
													theo</option>
												<option value="price">Thứ tự theo giá: thấp đến cao</option>
												<option value="price-desc">Thứ tự theo giá: cao
													xuống thấp</option>
											</select> <input type="hidden" name="paged" value="1">
										</form>
										<h1 th:text="${notFind}"></h1>
										<ul class="products " id="productssss">
											<div class="bs-row">
												<div class="bs-col tn-25-10"
													th:each="products : ${lstProductResult}">
													<li class="woman-attr product type-product "><a
														th:href="${'/product-detailts/' + products.product.slug}"
														class="woocommerce-LoopProduct-link woocommerce-loop-product__link"><img
															width="100%" th:src="${products.product.image}"
															class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
															alt="Armaf Club de Nuit Woman" loading="lazy"
															sizes="(max-width: 300px) 100vw, 300px"> </a>
														<div class="name-product">
															<a href=""
																class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
																<span class="brand" th:text="${products.product.brand}"></span>
															</a><a href=""
																class="product-name woocommerce-loop-product__title"
																th:text="${products.product.name}"></a>
														</div> <span class="price"> <span class="cart-text1"
															th:text="${products.productDetails[0].cost}"> </span>
													</span></li>
												</div>
											</div>
										</ul>

									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	</main>
	<div th:insert="footer-page :: footer-page"></div>

	<!-- Tạo lớp overlay loading -->
	<div class="lazy-loading hide">
		<div class="lazy-text">Loading...</div>
		<div class="line-loading"></div>
	</div>
	<script th:src="@{/js/tool.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	<script th:src="@{/js/base.js}"></script>
	<script th:src="@{/js/product.js}"></script>
	<script type="text/javascript">
		var card_text1 = document.querySelectorAll('.cart-text1');

		for (var i = 0; i < card_text1.length; i++) {
			card_text1[i].innerHTML = parseFloat(card_text1[i].innerHTML)
					.toLocaleString("en").replace(/,/g, ".")
					+ ' đ';
		}
		function myFunction() {
			var input, filter, table, tr, td, i, txtValue;
			input = document.getElementById("myInput");
			filter = input.value.toUpperCase();
			table = document.getElementById("myTable");
			tr = table.getElementsByTagName("tr");
			for (i = 0; i < tr.length; i++) {
				td = tr[i].getElementsByTagName("td")[0];
				if (td) {
					txtValue = td.textContent || td.innerText;
					if (txtValue.toUpperCase().indexOf(filter) > -1) {
						tr[i].style.display = "";
					} else {
						tr[i].style.display = "none";
					}
				}
			}
		}
	</script>
</body>
</html>